/* Julie CSS landing page */

body {
  margin: 0;
  padding: 0;
}

#landingpage {
  text-align: center;
}

.intro {
  display: flex;
  flex-direction: column;
}

.info {
  display: flex;
  flex-direction: row;
}

.info-box {
  border: 1px black solid;
  margin: 5px;
  padding: 5px;
}
